# Windows-Systemdateien ignorieren
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporäre Skript-Dateien und MySQL-Konfigurationsdateien
# (Falls diese mal aus Versehen im Projektordner landen)
*.cnf
*.sql
*.tmp

# ps2exe Rückstände und Log-Dateien
*.log

# VS Code oder andere Editor-Einstellungen (falls du einen nutzt)
.vscode/
.idea/
